.row,.bg-image{
    height: 100%;
}

.btn-primary{
    float:right;
    padding: 0 1rem;
    height: 2rem;
 }
.login-div{
    padding-top:10%;
}
.bg-image{
    background-image:url(../../assets/images/login-Image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}