<div class="container">
<div class="row align-center m-t-30">
   <div class="col-8 login-container">
      <div class="row">
         <!--Login background-->
<div class="col-md-6 bg-image d-none d-sm-none d-md-block">
</div>

<div class="col-md-6 col-sm-12 login-div">
       
   <h1>Welcome Back</h1>
   <p>Please login to access your Spaces Dashboard</p>
<!--Login Form-->
<form [formGroup]="loginForm">
   <!--user Name-->
    <div class="form-group">
       <label>User Name</label>
       <input type="text" [ngClass]="{'border-error':(loginForm.controls.userName.invalid && loginForm.controls.userName?.errors.required  && (!loginForm.controls.userName?.pristine )) || (loginForm.controls.userName.invalid && loginForm.controls.userName?.errors.maxlength  && (!loginForm.controls.userName?.pristine)),'success':loginForm.controls.userName.valid && !loginForm.controls.userName?.pristine }" formControlName="userName" class="form-control" placeholder="User Name">
     <em 
    *ngIf="(loginForm.controls.userName.invalid && loginForm.controls.userName?.errors.required  && (!loginForm.controls.userName?.pristine ))"
    class="invalid">Please enter user Name</em>
    </div>
     <!--password-->
    <div class="form-group">
       <label>Password</label>
       <input type="password" class="form-control" placeholder="Password" [ngClass]="{'border-error':(loginForm.controls.password.invalid && loginForm.controls.password?.errors.required  && (!loginForm.controls.password?.pristine )) || (loginForm.controls.password.invalid && loginForm.controls.password?.errors.maxlength  && (!loginForm.controls.password?.pristine)),'success':loginForm.controls.password.valid && !loginForm.controls.password?.pristine }" formControlName="password">
       <em   *ngIf="(loginForm.controls.password.invalid && loginForm.controls.password?.errors.required  && (!loginForm.controls.password?.pristine ))"
    class="invalid">Please enter password</em>
    </div>
    <button type="submit" class="btn btn-link" >Forget Password</button>
    <button  class="btn btn-primary btn-round" (click)=login() [disabled]="loginForm.invalid">Login</button>
   <div *ngIf="error"><span  class="invalid" >{{error}}</span></div> 
 </form>
</div>
 </div>

   </div>
</div>
</div>