/* You can add global styles to this file, and also import other style files */
html,body,.container{
    height:100%;
}
.p-t-10{
    padding-top:10px;
}
.align-center{
    align-items:center;
}
.invalid {
    color: #ea1c1c;
    font-size: 13px;
}
label {
    color: #887373;}
    .btn-primary:hover{
        background-color:  #fff;
        color: #8E44AD;
        border-color: #8E44AD;
        
    }
    .btn-primary{
        background-color: #8E44AD ;
        color: #fff;
        border-color: #8E44AD;
        float:right;
        padding: 0 1rem;
        height: 2rem;
        border-radius: 32px;
    
    }
    .btn-primary:focus{
        box-shadow: none;
    }
    .btn-link,a
    {
        color:#8E44AD;
        padding-left:0;
    }